:root{
    --width:475px;
    --padding:10px;
    --bgcolor:#8A84E2;
    --width-collapsed:59px;   
}
/*Menú introducción fijado y buen tamaño-->*/
#back{
    background-color: var(--bgcolor);
    float:left;
    position: fixed;
    height: 100%;
    padding:10px;
    width:330px;
    left: 45px;
}   

#back #introduction{
    background-color: #AFAFDC;
    float:left;
    position: fixed;
    height: 92%;
    width:300px;
    top: 32px;
    bottom: 32px;
    left: 69px;
}   


#main #fondo img{
    height:100%;
    width:900px;
    background: linear-gradient(0deg, rgba(175, 175, 220, 0.2), rgba(175, 175, 220, 0.2)),url(./assets/fondo.jpg);
  }


 /*COMO MUEVO HELP*/ 
#main #fondo #texto{
    height:100%;
    left: 500px;    
}



#back #introduction #InteractionProfile #foto img{
    height: 175px;
    width: 166px;
    top: 63px;

}
#back #introduction #InteractionProfile #name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 5px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

#back #introduction #InteractionProfile #ocupación{
    left: 6.32%;
    right: 66.39%;
    top: 34.86%;
    bottom: 63.18%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #E6E6E6; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#back #introduction #InteractionProfile{
    height: 100%;
}
