@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Josefin+Sans&display=swap');

#buscar {
    font-weight: 600;
    font-size: 40px;
    line-height: 29px;
    color: #000000;
}
h2,h3{
    font-family: 'Josefin Sans', sans-serif;
}
h4 {
    padding:5% 5% 0 ;
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;

}
h5{
    font-family: 'Cabin', sans-serif;
    color:rgb(48, 44, 44);
 text-shadow: white;
}

#fundaciones {
    padding-top: 5%;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

#imgcenter {
    background-color: #83BCFF;
    border-radius: 20px;
    /* fallback for old browsers */
    background: #667eea;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, #83BCFF, #83D9FF);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, #83BCFF, #83D9FF);
}

#im {
    padding: 0 5% 5% 5%;
}
.opacity{
opacity: 0.7;
}

#border {
    border-radius: 10%;
    opacity: 0.9;

}
mat-button-toggle {
    background: #80FFE8;
    padding: 5% 7% 5%;
        width: 100%;
}
mat-button-toggle-group{
    border-radius: 20px;
    width: 100%;

} 
#footer {
    
padding-top: 20%;
}
#icon2e{
    background: #80F7FF;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to bottom, #83BCFF, #80F7FF);

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to bottom, #83BCFF, #80F7FF);
}

.centrado{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

h6{
    font-family: 'Cabin', sans-serif;
    color: white;
    text-shadow: black 0.1em 0.1em 0.5em
}