* , *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
 
h1{
    text-decoration: underline;
}

#EstructuraBloques{
    display: grid; 
    grid-template-columns: 0.3fr 1.7fr 1.6fr 0.2fr 1.2fr 1.7fr 0.3fr; 
    grid-template-rows: 0.3fr 1.7fr 1.3fr 0.2fr 1.5fr 1.7fr 0.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". . . . . . ."
    ". boxOut1 boxOut1 . boxOut2 boxOut2 ."
    ". boxOut1 boxOut1 . boxOut2 boxOut2 ."
    ". . . . . . ."
    ". boxOut3 boxOut3 . boxOut4 boxOut4 ."
    ". boxOut3 boxOut3 . boxOut4 boxOut4 ."
    ". . . . . . .";     
}

#boxOut1 { grid-area: boxOut1; }
#boxOut2 { grid-area: boxOut2; }
#boxOut3 { grid-area: boxOut3; }
#boxOut4 { grid-area: boxOut4; }
.boxOut{
    justify-content: center;
    align-items: center;
}
.boxIN{
    background-color: #B7D3F2;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.boxIN img{
    width: 50%;
    height: auto;
    padding: 10%;

}
.boxIN{
    text-align: center;
}

.boxIN:hover{
    box-shadow: 0px 0px 30px 6px #8A84E2 inset;
}

h4{
    visibility: hidden;
}
.boxIN:hover h4{
    visibility: visible;
}
.colorBack{
    background-color: #84AFE6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 325px;
    border-radius: 5px;

}

/*Referencia: https://twitter.com/Amit_T18/status/1532376698225836032?t=YBl-z9yItKrTB4kJsa9v0A&s=09*/
#main{
    background: url('/assets/fondo.jpg') no-repeat;
}

#contentMain{
    padding: 8%;
    border-radius: 10px;

    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

    /* To control the blur of the glass */
    backdrop-filter: blur( 15px );
  
    /* A slight border (not necessary)  */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
/*-------------------------------------------------------------------*/
body{
    background-color:#040116;
}

table{
    border: #AFAFDC 5px solid;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    height: 200px;
    text-align: center;
    table-layout:fixed;

}
#tablaIdiomas{
    overflow: hidden;
}
th,
td {
    border: 1px solid #AFAFDC ;
    padding: 5px;
    overflow: hidden;

}
 
video{
    width: 80%;
    height:80%;
}
#contenedorVideo{
    text-align: center;
}

iframe{
    height: 90%;
    width: 90%;
}

#contenedorMapa{
    height: 400px;
}

#btnmAPA, #iconsRedes{
    display: flex;
    justify-content: space-around;
}

input{
    width: 100%;
}

#descripcionLabel{
    height: 325px;
}
#Iconmail{
    height: 12px;
}