* , *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

@media only screen and (max-width: 375px ){
    /* Styles */

    body{
      grid-template-columns: 375px;
      grid-template-areas: 
      "introduction"
      "main";
    }
    #backIntroduction { grid-area: introduction; }
    #introduction{ grid-area: introduction; }
    #main { grid-area: main; }


  }


