/*Esta hoja de estilos le da el diseño a todo el contenedor lateral de la página, #backIntroduction
 e #Introduction */

#foto{
    margin:0px auto;
    text-align:center;
    align-self: start;
    width: 300px;
    height: 260px;
    padding: 35px 75px;
    align-items: center;
}

button{
    margin: auto;
    left: 132px;
    top: 428px;
    border: 10rm;
    border:#AFAFDC ;
    word-spacing: 3rm;
    margin-bottom: 5%;
 
    height:2rem;
}

button:hover{
    background-color: #B7D3F2;
    border: transparent;
}

#mail_btn:hover{
    cursor: pointer;
    background-color: green;

}
#btnEnviar:hover{
    cursor: pointer;
}
